<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить пользователя</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
</head>
<body>
{% include 'nav.html' %}
  <!-- Start: Login Form Basic -->
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="font-weight-bold">Создание пользователя</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <h3>Создание</h3>
                            <form method="post">
                                {{ form.hidden_tag() }}
                                 {% for error in form.errors %}
                                {% if error%}
                                <div class="alert alert-danger" role="alert">
                                    <!--                                Обращаемся к ошибкам form(RegisterForm), достаем по ключу ошибки(название колонки) первый элемент, то есть наше сообщение-->
                                    {{form.errors[error][0]}}
                                </div>
                                {%endif%}
                                {% endfor %}
                                {{form.username(class = "form-control mb-3", placeholder="Логин")}}
                                {{form.password(class="form-control mb-3",  placeholder="Пароль")}}
                                {{form.role(class = "form-control pb-1 mb-3")}}
                                {{form.fullname(class="form-control mb-3", type="text" , placeholder="Полное имя")}}
                                {{form.submit(class="btn btn-dark", style="height: 100%;width: 100%;" )}}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End: Login Form Basic -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="alert alert-{{ category }} flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<script>
    // Функция для скрытия всех флеш-сообщений через 10 секунд
    setTimeout(function() {
        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            message.style.display = 'none';
        });
    }, 10000);  // 10000 миллисекунд = 10 секунд
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
