<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">

</head>
<body>
{% include 'nav.html' %}
{% block content %}
    <h1>Добавление отчета</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.condition_before.label }}<br>
            {{ form.condition_before(class="form-control") }}<br>
            {% for error in form.condition_before.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.condition_after.label }}<br>
            {{ form.condition_after(class="form-control") }}<br>
            {% for error in form.condition_after.errors %}
                <p content="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p> {{ form.photo }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}

    </form>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="alert alert-{{ category }} flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<script>
    // Функция для скрытия всех флеш-сообщений через 10 секунд
    setTimeout(function() {
        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            message.style.display = 'none';
        });
    }, 10000);  // 10000 миллисекунд = 10 секунд
</script>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>