<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инвентарь</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
    <style>
        .inventory-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            margin: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card h3 {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card p {
            margin-bottom: 20px;
        }

        .btn {
            margin-top: 20px;
        }
    </style>
</head>
<body>
{% include 'nav.html' %}

<div class="container">
    <h2 class="text-center">Инвентарь</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="alert alert-{{ category }} flash-message">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    <div class="inventory-cards">
        {% for item in items %}

            <div class="card">
                 <h4 class="card-title">Номер: {{item.id}}</h4>
                <p>Состояние: {{ item[0].status }}</p>
                <p>Тип инвентаря: {{item[1]}}</p>
                {% if current_user.role == 'admin' %}

                <p>Закреплён за: {{ item[2] if item.user_id else "Не закреплён" }}</p>

                <!-- Форма для изменения статуса инвентаря -->
                <form method="POST" action="{{ url_for('inventory.update_inventory_status', inventory_id=item[0].id) }}">
                    <select name="status" required>
                        {{item[0].status}}
                        <option value="new" {% if item[0].status==
                        'new' %}selected{% endif %}>Новое</option>
                        <option value="used" {% if item[0].status==
                        'used' %}selected{% endif %}>Использованное</option>
                        <option value="in_use" {% if item[0].status==
                        'in_use' %}selected{% endif %}>В использовании</option>
                        <option value="broken" {% if item[0].status==
                        'broken' %}selected{% endif %}>Сломанное</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Обновить статус</button>
                </form>

                <!-- Если статус 'broken', показываем кнопку для подачи заявки на ремонт -->
                <p>Закреплён за: {{ item[2] if item[0].user_id else "Не закреплён" }}</p>
                <form method="POST" action="{{ url_for('inventory.update_inventory_user', inventory_id=item[0].id) }}">
                    <select name="user_id" required>

                        <option value="">Не закреплён</option>
                        {% for user in users %}
                        <option value="{{ item[1].id }}" {% if user.id == item.user_id %}selected{% endif %}>{{ user.username }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Обновить пользователя</button>
                </form>
                {% endif %}

                {% if item.status == 'broken'%}
                <a href="{{ url_for('inventory.create_repair_request', inventory_id=item[0].id) }}" class="btn btn-secondary">Подать
                    заявку на ремонт</a>
                {% endif %}

                <!-- Кнопка для создания отчета по инвентарю -->
                {% if current_user.role=='user%}
                    <a href="{{ url_for('application.add_report', inventory_id=item[0].id) }}" class="btn btn-success">Заявка на ремонт</a>
                    <a href="{{ url_for('application.replacement_inventory_request', inventory_replacement_id=item[0].id) }}" class="btn btn-success">Заявка на ремонт</a>
                {% endif %}


            </div>
            {% endfor %}
    </div>
    </div>




<script>
    // Функция для скрытия всех флеш-сообщений через 10 секунд
    setTimeout(function() {
        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            message.style.display = 'none';
        });
    }, 10000);  // 10000 миллисекунд = 10 секунд
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>