<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка на инвентарь</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
</head>
<body>
{% include 'nav.html' %}
<section class="position-relative py-4 py-xl-5">
    <div class="container position-relative">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="font-weight-bold">Создание заявки на инвентарь</h2>
                <p class="w-lg-50"></p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="alert alert-{{ category }} flash-message">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <h3 class="mb-3">Создание</h3>
                        <form method="post">
                            {{ form.hidden_tag() }}
                            {% if form.inventory_type_id.errors %}
                            <small class="text-danger">{{ form.inventory_type_id.errors[0] }}</small>
                            {% endif %}
                            {{ form.inventory_type_id(class="form-control mb-3") }}
                            {{ form.count(class="form-control mb-3", id="count") }}
                            {{ form.submit(class="btn btn-dark d-block w-100 mb-3", id="0") }}


                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End: Login Form Basic -->


<script>
    // Функция для скрытия всех флеш-сообщений через 10 секунд
    setTimeout(function() {
        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            message.style.display = 'none';
        });
    }, 10000);  // 10000 миллисекунд = 10 секунд

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>
