<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% include 'nav.html' %}
<div class="container">
    <h2 class="text-center">Инвентарь</h2>
    <div class="container">
        <div class="row">
          {% for item in items %}
            <div class="col-md-4">
                <div class="card text-center mb-3 pb-0">
                    <div class="card-body flex-column mb-0" style="display: inline;transform: translate(0px);text-align: center;">
                        <h4 class="card-title">Номер:</h4>
                        <h6 class="text-muted card-subtitle pb-0 mb-3">Состояние:</h6><select class="mb-3">
                            <optgroup label="This is a group">
                                <option value="12" selected="">This is item 1</option>
                                <option value="13">This is item 2</option>
                                <option value="14">This is item 3</option>
                            </optgroup>
                        </select>
                        <div class="col mb-3" style="text-align: center;"><button class="btn btn-primary" type="button">Изменить</button></div>
                        <div></div>
                        <h6 class="text-truncate text-break text-muted card-subtitle mb-3">Закреплён: ааааааааааааааааааааа</h6><select class="mb-3">
                            <optgroup label="This is a group">
                                <option value="12" selected="">This is item 1</option>
                                <option value="13">This is item 2</option>
                                <option value="14">This is item 3</option>
                            </optgroup>
                        </select>
                        <div class="col mb-4" style="text-align: center;"><button class="btn btn-primary" type="button">Изменить</button></div>
                        <div class="col-md-12"><button class="btn btn-dark mb-2" type="button" style="text-align: center;width: 100%;">Создать отчёт</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>