<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">

</head>
<body>
{% include 'nav.html' %}
<h2>Заявки на инвентарь</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Инвентарь</th>
            <th>Пользователь</th>
            <th>Количество</th>
            <th>Дата</th>
            <th>Статус</th>
            {% if current_user.role == 'admin' %}
            <th>Действия</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.inventory_id }}</td>
            <td>{{ request.user_id }}</td>
            <td>{{ request.count }}</td>
            <td>{{ request.request_date }}</td>
            <td>{{ request.status }}</td>
            {% if current_user.role == 'admin' %}
            <td>
                <form method="POST" action="{{ url_for('application.update_request_status', request_id=request.id) }}">
                    <select name="status">
                        <option value="pending" {% if request.status == 'pending' %}selected{% endif %}>Ожидает</option>
                        <option value="approved" {% if request.status == 'approved' %}selected{% endif %}>Одобрено</option>
                        <option value="rejected" {% if request.status == 'rejected' %}selected{% endif %}>Отклонено</option>
                    </select>
                    <button type="submit">Обновить</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="alert alert-{{ category }} flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<script>
    // Функция для скрытия всех флеш-сообщений через 10 секунд
    setTimeout(function() {
        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            message.style.display = 'none';
        });
    }, 10000);  // 10000 миллисекунд = 10 секунд
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>