<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">

</head>
<body>
{% include 'nav.html' %}
<h2>Планы закупок</h2>
<table>
    <thead>
    <tr>
        <th>Тип инвентаря</th>
        <th>Количество</th>
        <th>Цена за единицу</th>
        <th>Поставщик</th>
        <th>Дата планирования</th>
    </tr>
    </thead>
    <tbody>
    {% for plan in plans %}
        <tr>
            <td>{{ plan.inventory_type_id }}</td>
            <td>{{ plan.quantity }}</td>
            <td>{{ plan.price }}</td>
            <td>{{ plan.supplier }}</td>
            <td>{{ plan.planned_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="alert alert-{{ category }} flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<script>
    // Функция для скрытия всех флеш-сообщений через 10 секунд
    setTimeout(function() {
        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            message.style.display = 'none';
        });
    }, 10000);  // 10000 миллисекунд = 10 секунд
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>