<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Планы закупок</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">

</head>
<body>
{% include 'nav.html' %}
     <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 class="font-weight-bold">План закупок</h2>
        </div>
    </div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="alert alert-{{ category }} flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

    <div class="container">
         <div class="col pr-5 pl-5 mr-5">
        {% for plan in plans%}
        <div class="card mb-3 ml-5 mr-5 mt-4 pt-0 pr-5 pl-5 pb-0">
            <div class="card-body pl-0 pr-0">
                <h4 class="card-title mb-3">Номер плана: {{plan.id}}</h4>
                <h6 class="text-muted card-subtitle mb-3">Инвентарь: {{plan.inventory_type_id}}</h6>
                <h6 class="text-muted card-subtitle mb-3">Количество: {{plan.quantity}}</h6>
                <h6 class="text-muted card-subtitle mb-3">Дата: {{plan.planned_date}}</h6>
                <h6 class="text-muted card-subtitle mb-3">Итоговая цена: {{plan.price*plan.quantity}}</h6>
            </div>
        </div>
        {%endfor%}
    </div>
            </div>




<script>
    // Функция для скрытия всех флеш-сообщений через 10 секунд
    setTimeout(function() {
        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            message.style.display = 'none';
        });
    }, 10000);  // 10000 миллисекунд = 10 секунд
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>
