<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">

</head>
<body>
{% include 'nav.html' %}
<h2>Заявки на на замену</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }} flash-message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<div class="container">
    <div class="col pr-5 pl-5 mr-5">
        {% for request in requests %}

        <div class="card mb-3 ml-5 mr-5 mt-4 pt-0 pr-5 pl-5 pb-0">
            <div class="card-body pl-0 pr-0">
                <h4 class="card-title mb-3">Номер заявки: {{ request[0].id }}</h4>
                <h6 class="text-muted card-subtitle mb-3">Пользователь: {{ request[1] }}</h6>
                <h6 class="text-muted card-subtitle mb-3">Тип инвентаря: {{ request[2] }}</h6>
                <h6 class="text-muted card-subtitle mb-3">Id инвентаря: {{request[3]}}</h6>
                <h6 class="text-muted card-subtitle mb-3">Дата: {{ request[0].usage_date }}</h6>
                <h5>Статус заявки: {{
                    "На рассмотрении" if request[0].status == "pending" else
                    ("Одобрено" if request[0].status == "approved" else "Отклонено")
                }}</h5>

                {% if current_user.role == 'admin' and request[0].status == "pending" %}
                <div class="d-flex flex-wrap gap-2 mt-3">
                    <form method="post"
                          action="{{ url_for('application.replacement_request_approve', inventory_replacement_id=request[0].id) }}">
                        <button type="submit" class="btn btn-success">Одобрить</button>
                    </form>
                    <form method="post"
                          action="{{ url_for('application.replacement_reject_request', inventory_replacement_id=request[0].id) }}">
                        <button type="submit" class="btn btn-danger ml-3">Отклонить</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>